- if (messages.errors)
    .alert.alert-danger
        button.close(type = 'button', data-dismiss = 'alert') ×
        - each message in messages.errors
            p
                strong Errors:
                span #{message}
- if (messages.info)
    .alert.alert-info
        button.close(type = 'button', data-dismiss = 'alert') ×
        - each message in messages.info
            p
                strong Info:
                span #{message}
- if (messages.warning)
    .alert.alert-warning
        button.close(type = 'button', data-dismiss = 'alert') ×
        - each message in messages.warning
            p
                strong Warning:
                span #{message}
- if (messages.success)
    .alert.alert-success
        button.close(type = 'button', data-dismiss = 'alert') ×
        - each message in messages.success
            p
                strong success:
                span #{message}
