<li>
    <a rel="tooltip" data-placement="right" data-original-title="会员" href="/admin/member/">
        <i class="fa fa-users"></i> <span class="caption">会员</span>
    </a>
</li>
<% if(adminRole.review_user) {%>
<li>
    <a rel="tooltip" data-placement="right" data-original-title="审核信息" href="/admin/review/">
        <i class="fa fa-info-circle"></i> <span class="caption">审核信息 (<%=reviewRowsNumber%>)</span></a>
</li>
<% } %>
<% if(adminRole.reset_admin_password) {%>
<li>
    <a rel="tooltip" data-placement="right" data-original-title="普通管理员" href="/admin/users">
        <i class="fa fa-user-md"></i> <span class="caption">普通管理员</span></a>
</li>
<% } %>
<li>
    <a rel="tooltip" data-placement="right" data-original-title="系统管理" href="/admin/users/set/password">
        <i class="fa fa-cog"></i> <span class="caption">系统管理</span></a>
</li>
<li>
    <a rel="tooltip" data-placement="right" data-original-title="登出" href='/admin/logout'>
        <i class="fa fa-sign-out"></i> <span class="caption">登出</span></a>
</li>
