<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span>导航</span></button>
        <span class="navbar-brand">后台管理</span>
    </div>
</div>
<div class="navbar-collapse collapse">
    <div id="main-menu">
        <div id="phone-navigation" class="visible-xs">
            <ul id="dashboard-menu" class="nav nav-list">
                <%- include('./nav-li') -%>
            </ul>
        </div>
        <ul class="nav nav-tabs hidden-xs">
            <%- include('./nav-li') -%>
        </ul>
    </div>
</div>
