footer.ms-footer
  .container
    p
      | Copyright © 2015 草延龄
      a(href='http://www.miitbeian.gov.cn/', target='_blank') 粤ICP备xxxxxxxxx号-1
      |
      a(href='http://www.gdhydec.com/Sitemap.xml', target='_blank') Sitemap
      |  | 网站建设与维护：
      a(href='https://gdky.net', target='_blank') 开源网络
