nav.navbar.navbar-static-top.yamm.ms-navbar.ms-navbar-primary
  .container.container-full
    .navbar-header
      a.navbar-brand(href='http://www.gdhydec.com')
        img(src='/images/assets/caoyanling-logo-navbar.png', alt='草延龄logo')
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a.dropdown-toggle.animated.fadeIn.animation-delay-4(href='http://www.gdhydec.com') 首页
    a.sb-toggle-left.btn-navbar-menu(href='javascript:void(0)')
      i.zmdi.zmdi-menu
