#ms-slidebar.ms-slidebar.sb-slidebar.sb-left.sb-style-overlay
  .sb-slidebar-container
    header.ms-slidebar-header
    ul#slidebar-menu.ms-slidebar-menu(role='tablist', aria-multiselectable='true')
      li
        a.link(href='http://www.gdhydec.com')
          i.fa.fa-home
          | 首页
