a:active
a:hover
a:link
a:visited
    text-decoration none
.dn
    display none !important

.bg
    background-image url('../images/bg.jpg')
    background-size cover
    background-repeat no-repeat

.main
    margin-top 5%;

.login-box
    background-color rgba(0,0,0,0.3)
    padding 30px 20px 0px
    color #fff
    a
        color #fff
    &-admin
        background-color rgba(0,0,0,0.5)


.social-auth
    .iconfont
        font-size 30px
