doctype html
html(lang="zh-cn")
    head
        block title
        title #{title}
        include ../includes/css.jade
    body.bg
        .container-fluid
            .messages.row
                include ../includes/messages.jade
        .container.main
            .row
                block content

        include ../includes/js.jade
        block scripts
