extends ./login

block register
    div.form-group
        label.col-sm-2.control-label 确认密码
        div.col-sm-10
            input.form-control(type="password" name="confirm_password" placeholder="确认密码" required)
    div.form-group
        label.col-sm-2.control-label Email
        div.col-sm-10
            input.form-control(type="text" name="email" placeholder="Email" value='' required)
    div.form-group
        label.col-sm-2.control-label 昵称
        div.col-sm-10
            input.form-control(type="text" name="nickname" placeholder="昵称" value='')
    div.form-group
        label.col-sm-2.control-label phone
        div.col-sm-10
            input.form-control(type="text" name="phone" placeholder="电话" value='')
    div.form-group
        div.col-sm-offset-2.col-sm-10
            button.btn.btn-success 注册
            a(href='/login').btn.btn-link 登录
